<div class='modal fade' id="createModal" ng-controller='listCtrl'>
  <div class="modal-dialog createModal">
    <div class="modal-content">
      <div class="modal-body">
        <i class="fa fa-times-circle icon_large" id='leaveModal' ng-click="cancelCreateModal()"></i>
        <form name="nominateForm" ng-controller='LoginCtrl' class="" ng-submit="createUser(companyNameFromView, companyTagLineFromView, websiteFromView, companyLogoFromView, firstNameFromView, lastNameFromView, contactEmailFromView, contactPhoneFromView)" id='tagCreateForm'>

            <h2>Nominate a Startup</h2>
            
            <input class='col-xs-12' name="companyNameFromView" placeholder="Company Name" ng-model="companyNameFromView" required>
            <input class='col-xs-12' name="companyTagLineFromView" placeholder="Tagline" ng-model="companyTagLineFromView" required>
            <input class='col-xs-12' name="websiteFromView" placeholder="Website URL" ng-model="websiteFromView">
            <input class='col-xs-12' name="companyLogoFromView" placeholder="Company Logo URL" ng-model="companyLogoFromView" required>
            <input id='halfInput' name="firstNameFromView" placeholder="First Name" ng-model="firstNameFromView" required>
            <input id='halfInput' name="lastNameFromView" placeholder="Last Name" ng-model="lastNameFromView" required>
            <input class='col-xs-12' name="contactEmailFromView" placeholder="Contact Email" ng-model="contactEmailFromView" required>
            <input class='col-xs-12' name="contactPhoneFromView" placeholder="Contact Phone" ng-model="contactPhoneFromView">
            
            <span class="error" ng-show="nominateForm.input.$error.required">Required!</span><br>

        </form>
          
        <button type='submit'class='btn btn-xs' id='submitBtn'> Submit </button>

      </div><!-- /. modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
