<!DOCTYPE html>
<html lang="en" ng-app="trendrr" ng-controller="listCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>trendrr - pure awesome</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/filter-page.css">
    <link rel="stylesheet" type="text/css" href="css/shorthand.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="wrapper">

<!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Filters
                        </a>
                    </li>
                    <li>
                       <a class="filter" data-filter="all">All</a>
               
                    </li>
                    <li>
                        <a class="filter" data-filter=".category-1">Category 1
                </a>
                    </li>
                    <li>
                        <a class="filter active" data-filter=".category-2">Category 2</button></a>
                    </li>

                    <li><button id="ChangeLayout"><span class="glyphicon glyphicon-th"></span></button></li>
                  
                </ul>
            </div>





<!-- Header -->
            <header>
              <div class="controls">

                <div class='controls-left pad10'>

                  <a class="header-logo" href="#menu-toggle" id="menu-toggle">trendrr</a>

                  <input ng-model='search'>
                  <p>{{search}}</p>
                  <p>{{test}}</p>

                </div>

                <div class='controls-right'>

                  <button class="sort" data-sort="myorder:asc" style="display:none"><span class="glyphicon glyphicon-chevron-up"></span></button>
                  <button class="sort" data-sort="myorder:desc"><span class="glyphicon glyphicon-chevron-down"></span></button>

                  

                </div>

              </div>
            </header>





<!-- Page Content -->

            <div id="list-container" class="container" >
                <div ng-repeat="item in list" class="mix category-1" data-myorder="{{$index}}" on-finish-render ng-cloak>
                  <img ng-src="{{item.picture}}">
                  
                  <div class="mix-info">
                    <p class="mix-title">
                       {{item.fullName}}<br>
                      <span><i class="fa fa-eye"></i> {{item.comments.keys(comments).lenth}} &nbsp&nbsp&nbsp<i class="fa fa-comment-o"></i>    3,434</span>
                    </p>
                    <div class="score-circle"><p>{{item.overallVotes.value}}</p> </div>
                  </div>

                </div>

                <!-- <div class="mix category-1" data-myorder="2"></div>
                <div class="mix category-1" data-myorder="3"></div>
                <div class="mix category-2" data-myorder="4"></div>
                <div class="mix category-1" data-myorder="5"></div>
                <div class="mix category-1" data-myorder="6"></div>
                <div class="mix category-2" data-myorder="7"></div>
                <div class="mix category-2" data-myorder="8"></div>
 -->
              <div class="gap"></div>
                <div class="gap"></div>
            </div>





      </div> <!-- end of wrapper -->


      <!-- jQuery Version 1.11.0 -->
      <script src="js/jquery-1.11.0.js"></script>


      <!-- Angular 1.2 -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
      <!-- Directives -->
      <script type="text/javascript" src="js/Directives/onFinishRender.js"></script>
      <script src="js/app.js"></script>
      <!-- Controllers -->
      <script type="text/javascript" src="js/Controllers/listCtrl.js"></script>
      
      <!-- Services -->
      <script src="js/Services/listService.js"></script>







      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- custom javascripts -->
      <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.js"></script>
      <script src="js/filter-page.js"></script>
      <script src="js/variables.js"></script> 
      <script src="js/main.js"></script>

      <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
      </script>

  </body>

  </html>
